.searchItems{
    display: flex;
    justify-content: space-between; 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    gap: 20px;

}
.siImg{
    width: 200px;
    height: 200px;
    object-fit: 'cover'
}
.siDesc{
  display: flex;
  flex-direction: column;
  flex:2;
}
.siTitle{
    font-size: 20px;
    color: rgba(28, 121, 250, 0.891);
}
.siDistance{
    font: 10px; 
}
.siTexi{
    font-size: 12px;
    color: white;
    background-color: green;
    border-radius: 5px;
    padding: 3px;
    width:max-content;
}
.siSubtitle{
    /* width: 12px; */
    font-weight: bold;
}
.siCancel{
    font-size: 12px;
    font-weight: bold;
    color: green;
}
.siFeatures{
    font-size: 12px;
}
.siCancelSubtitle{
    font-size: 12px;
    color: green;
}
.siDetails{
    flex: 1;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.siRating{
    display: flex;
    justify-content: space-between;

}
.siRbtn{
    background-color: rgb(47, 47, 157);
    color: white;
    border: none;
}
.siPackg{
    display: flex;
    flex-direction: column;
   gap: 3px;
}
.siPrice{
    padding-left: 80px;
}
.SiTxt{
    font-size: 12px;
    font-weight: lighter;
    padding-left: 40px;
}