.header{
    background-color: rgb(19, 19, 141);
    color: white;
    display: flex;
    justify-content: center;
    position: relative;

}
.headerContainer{
    width: 100%;
    max-width: 1050px;
    margin: 20px 0px 100px 0px;
    
}
.headerContainer.listMode{
    margin:20px 0px 40px 0px;
}
.headerList{
    display: flex;
    gap: 40px;
}
.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;

}
.headerListItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}
.headerDesc{
    margin: 10px;
}
.headerBtn{
    background-color:  rgb(42, 42, 174);
    color: white;
    border: none;
    width: 70px;
    height: 30px;
    cursor: pointer;
    font-weight: 600;


}
.headerSearch{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    background-color: white;
    border: 3px solid yellow;
     padding:10px 0px;
     position: absolute;
     bottom:-25px;
     width: 100%;
     max-width: 1050px;
     border-radius: 5px;
}
.headerSearchItem{
    color:lightgray;
    align-items: center;
    gap: 10px;
}
.headerSearchIcon{
    color: darkgrey;
    gap: 5px;
}

.headerSearchInput{
    color:darkgrey;
    border:none;
    outline: none;

}

/* .headerbtn{
    background-color: rgb(46, 46, 212);
} */
.date{
    position: absolute;
    top: 50px;
    left:350px;
    z-index: 2;
}
.headerSearchText{
    color: lightgray;
    cursor: pointer;
}
.option{
    
    z-index: 2;
    position: absolute;
    top: 50px;
    color:darkgray;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -5px #888888;
}
.optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    
}
.optionCounterBtn{
    background-color: rgb(90, 86, 86);
    color: black;
    width: 30px;
    height:30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
}
.optionCounterBtn:disabled{
    cursor: not-allowed;

}
.optionCounter{
    display: flex;
     gap: 10px ;
     font-size: 12px;
     align-items: center;
     color: black;
}
